<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apnishuvidha">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="users.ShopProducts"></activity>
        <activity android:name="seller.SellerLoginActivity" />
        <activity android:name="seller.SellerHomePage" />
        <activity android:name="seller.general_store.ShopKeeper" />
        <activity android:name="seller.AddNewProduct" />
        <activity android:name="seller.SellerRegisterActivity" />
        <activity
            android:name="users.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="users.VerifyPhoneNo" />
        <activity android:name="users.UserLogin" />
        <activity android:name="users.UserRegistration" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>